$bg-base: #282c34;
$bg-dark: rgb(28, 30, 33);
$bg-light: #606770;
$text-primary: white;
$secondary: #61dafb;
$tertiary: #ce3883;
$ease-in-out: all 500ms cubic-bezier(0.22, 0, 0.58, 1); /* ease-in-out */
body {
	background-color: $bg-base !important;
	color: white !important;

	a {
		color: white !important;

		&:hover {
			background-color: $bg-dark;
			transition: $ease-in-out;
		}
	}
}

.ml-0 {
	margin-left: 0 !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.Header {
	background-color: $bg-dark;
	svg:hover {
		color: $secondary;
		cursor: pointer;
		transition: $ease-in-out;
	}
}

.navbar-toggler:hover {
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
}

.ScreenContainer {
	border-left: 1px solid $secondary;
	border-bottom: 1px solid$secondary;
	height: calc(75vh - 56px);
	padding-top: 1rem;
}

.Sidebar--col,
.Sidebar {
	padding-left: 0;
	padding-right: 0;
}

.Sidebar {
	height: calc(100vh - 56px);
	padding-top: 0.25rem;
}

.Sidebar--button {
	text-align: end;
	svg {
		font-size: large;
		cursor: pointer;
	}
}

.Sidebar--hidden {
	display: none;
}

.Sidebar--collapsed {
	width: 4vw;
	font-size: larger;
	transition: 500ms linear;
}

.Sidebar--expanded {
	width: 12vw;
	transition: 250ms linear;
}
.Sidebar--button-right {
	transform: RotateX(180deg);

	margin-right: 1rem;
	transition: 500ms ease;
	transition-delay: 0;
}

.Sidebar--button-left {
	transform: rotate(180deg);
	text-align: center !important;
	font-size: large;
	transition: 500ms linear;
	// padding-left: 0.5rem;
}

.active {
	color: $tertiary !important;
}

.nav-item {
	margin-left: 1rem;
	font-size: larger;
	&:hover {
		background-color: $bg-dark;
		-webkit-transition: 0.1s all ease-in-out;
		-moz-transition: 0.1s all ease-in-out;
		-o-transition: 0.1s all ease-in-out;
		transition: 0.1s all ease-in-out;
		svg {
			font-size: larger;
			color: $tertiary;
			-webkit-transition: 0.15s all ease-in-out;
			-moz-transition: 0.15s all ease-in-out;
			-o-transition: 0.15s all ease-in-out;
			transition: 0.15s all ease-in-out;
		}
	}
}
.nav a {
	text-decoration: none;
}
.ChatContainer {
	height: calc(25vh - 56px);
}

.ChatRoomButtons {
	button {
		margin-top: 1rem;
		background-color: $bg-base;
		border-radius: 0;

		&:hover {
			background-color: $bg-dark;
			-webkit-transition: 0.15s all ease-in-out;
			-moz-transition: 0.15s all ease-in-out;
			-o-transition: 0.15s all ease-in-out;
			transition: 0.15s all ease-in-out;
		}
	}
}

.ChatLog {
	margin-top: 1rem;
	background-color: $bg-dark;
	height: 80%;
}

.ChatInput {
	background-color: $bg-dark;
	border-right: none;
	border-color: white;
	color: white !important;
	&:focus {
		background-color: $bg-dark;
		border-color: white !important;
		border-right: none;
		box-shadow: none !important;
	}
}

.ChatInputGroup {
	border: 1px solid white;
	border-left: none;
	border-radius: 4px;
}

.ChatInputButton {
	border: none;
	border-radius: 0;
	&:first-child {
		border-right: 1px groove $bg-dark;
	}
}

.Chat--message-row {
	width: 100%;
}
.Chat--timestamp,
.Chat--username,
.Chat--message {
	font-size: small;
	padding-left: 0.2rem;
	padding-right: 0.1rem;
	width: max-content;
}
.Chat--timestamp {
	// width: 7%;
	color: $bg-light;
}

.Chat--username {
	font-weight: bold;
}

.list-group {
	background-color: $bg-dark;
}

.list-group-item {
	color: $text-primary;
	background-color: $bg-dark;
}

.badge-secondary {
	background-color: $bg-base;
}

.nav-tabs .nav-link,
.nav-tabs {
	border-bottom: none;
}
.nav-item {
	cursor: pointer;
}
.nav-link {
	border-bottom: none;
	&:hover {
		border-bottom: none;
	}
}

.Tab--active {
	position: relative;
	background-color: $bg-dark;
}

.ChatLog {
	height: 12vh;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
}
